# Environment variables & secrets
.env

# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/


# Custom datasets (keep samples if needed)
data/*.csv
data/*.xlsx
!data/sample_sales.csv
!data/sample_hr.csv